@charset "utf-8";

/* 
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Victor Akanbi
   Date:   10.29.18

   Filename:         pcg_paper.css
   Supporting Files: 
 */

/* Html & Body */
/* I added a new css applicaition to the display of none so that i could have a drop box and be able to have rest of the content. BUt beefore that i made the website background color gray. I made the body max width and min width to the specifications and i centered it in the browser with the margin auto style. I also changed the text color. */
html {
    background-color: rgb(59, 59, 59);
}

body {
    width: 100%;
    max-width: 960px;
    min-width: 640px;
    margin: auto;
    color: rgb(247, 247, 247);
}


/* Nav */
.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 104);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* I  Basicly chnaged the background color,color and the height of the nav bar, centered the text and added some top paddding */
nav {
    background-color: rgb(0, 0, 104);
    color: rgb(0, 0, 0);
    height: 3em;
    text-align: center;
    padding-top: .1px;
}
/* MAde the display inline so they would apear in a line and made the position relative so it still follows the heiarchy. */
li {
   position: relative;
    display: inline;
}

a{
    font-size: 1.3em;
}

a:visited,
A:link {
    background-color: rgb(0, 0, 104); 
    color: white;
}

a:active {
    background-color: blue;
    color: grey;
}
/* Aside */
/* FLoated the aside to the left and changed the back ground color and i added some padding  */
aside {
    float: left;
    background-color: rgb(0, 0, 104);
}

aside p {
    padding-left: 1em;
    padding-right: 1em;
}

aside h3 {
    padding: 0 1em;
}

/* Body */
/* used the class to add padding and to try and added bulets which didnt work */
.paddingleft {
    padding-left: 16em;
}

.bullet {
    text-decoration: dotted;
}

/* img */
/* Img with the class of img was floaed left so that it could e under the aside and to acoplish that i used absolute posistion */
img.img {
    float: left;
    position: absolute;
    left: 18em;
    right: 0em;
    bottom: 0em;
    top: 39em;
}

/* footer */
/* Made the text color white and the background color blue alighned the text to the center and increased the font size a bit. I also displayed iline so there would be no breaks inbetween the elements. */
footer {
    color: white;
    background-color: rgb(0, 0, 104);
    text-align: center;
    font-size: 15px;
}

footer>p {
    display: inline;
}