@charset "utf-8";

/* 
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Victor Akanbi
   Date:   10.29.18

   Filename:         pcg_paper.css
   Supporting Files: 
 */

/* Html & Body */

html {
    background-color: rgb(59, 59, 59);
}

body {
    width: 100%;
    max-width: 960px;
    min-width: 640px;
    margin: auto;
    color: rgb(247, 247, 247);
}


 /* Nav */
.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 104);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    background-color: rgb(0, 0, 104);
    color: rgb(0, 0, 0);
    height: 3em;
    text-align: center;
    padding-top: .1px;
}

li {
   position: relative;
    display: inline;
}

a{
    font-size: 1.3em;
}

a:visited,
A:link {
    background-color: rgb(0, 0, 104); 
    color: white;
}

a:active {
    background-color: blue;
    color: grey;
}

/* Aside */

aside {
    float: left;
    background-color: rgb(0, 0, 104);
}

aside p {
    padding-left: 1em;
    padding-right: 1em;
}

aside h3 {
    padding: 0 1em;
}

/* Body */
.paddingleft {
    padding-left: 16em;
}

.bullet{
    text-decoration: dotted;
}

/* img */
img.img {
    float: left;
    position: absolute;
    left: 18em;
    right: 0em;
    bottom: 0em;
    top: 39em;
}

/* footer */

footer {
    color: white;
    background-color: rgb(0, 0, 104);
    text-align: center;
    font-size: 15px;
}

footer>p {
    text-decoration: none;
}